<ul class="commits-list">
      <li>
        <div class="left">
          <img src="https://www.gravatar.com/avatar/51d623f33f8b83095db84ff35e15dbe8.png?s=38&amp;r=pg&amp;d=identicon" data-bindattr-274="274">
        </div>
        <div class="right">
          <span class="commit-message"><a href="https://github.com/discourse/discourse/commit/7aecf5f6ef88c0f47cc50f18f59f4faaef853798" data-bindattr-275="275" target="_blank"><script id="metamorph-411-start" type="text/x-placeholder"></script>Merge pull request #2283 from awesomerobot/master

pulling some more styles out of desktop/mobile to common/base<script id="metamorph-411-end" type="text/x-placeholder"></script></a></span><br>
          <span class="commit-meta">by <span class="committer-name"></span> - <span class="commit-time"><span class="date" title="April 20, 2014 9:24pm">6 mins ago</span></span></span>
        </div>
      </li>
    </li>
</ul>